---
const { name, date, stars, comment, imgsrc, href } = Astro.props;
---

<div class="lg:w-[50%] p-4">
  <a href={href} class="cursor-pointer">
    <div class="bg-background/90 rounded-2xl p-8 h-[100%] lg:max-h-[350px]">
      <div class="flex items-center justify-between">
        <h1 class="text-6xl text-start font-bebas-neue text-secondary">
          {name}
        </h1>
        <span class="block text-secondary text-right font-bold">{date}</span>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex gap-2 lg:gap-4 h-min">
          {
            [...Array(stars)].map((_, i) => (
              <i class="bi bi-star-fill text-accent text-3xl lg:text-4xl" />
            ))
          }
        </div>
        <img src={imgsrc} alt="Quote Icon" class="w-12 h-12 lg:w-16 lg:h-16" />
      </div>
      <p
        class="mt-4 text-secondary overflow-auto max-h-[220px] lg:max-h-[120px]"
      >
        {comment}
      </p>
    </div>
  </a>
</div>
